<section class="social-bar no-pad">
	<div class="col-md-3 col-sm-6 no-pad">
		<a href="#">
			<div class="link bg-twitter">
				<div class="initial">
					<i class="fa fa-twitter"></i>
				</div>
				<div class="hover-state">
					<span class="text-white">Follow On Twitter</span>
				</div>
			</div>
		</a>
	</div><!--end of individual link-->
	<div class="col-md-3 col-sm-6 no-pad">
        <a href="#">
			<div class="link bg-facebook">
				<div class="initial">
					<i class="fa fa-facebook"></i>
				</div>
				<div class="hover-state">
					<span class="text-white">Friends on Facebook</span>
				</div>
			</div>
		</a>
	</div><!--end of individual link-->
	<div class="col-md-3 col-sm-6 no-pad">
		<a href="#">
			<div class="link bg-dribbble">
				<div class="initial">
					<i class="fa fa-instagram"></i>
				</div>
				<div class="hover-state">
					<span class="text-white">Follow on Instagram</span>
				</div>
			</div>
		</a>
	</div><!--end of individual link-->
	<div class="col-md-3 col-sm-6 no-pad">
        <a href="#">
			<div class="link bg-tumblr">
				<div class="initial">
				    <i class="fa fa-google-plus"></i>
				</div>
				<div class="hover-state">
					<span class="text-white">Share Google Plus</span>
				</div>
			</div>
		</a>
	</div><!--end of individual link-->
</section>
<div class="footer-container">
    <footer class="bg-secondary-1 short-2">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <span class="text-white">© 2014 Pivot Inc.</span>
                    <span class="text-white"><a href="#">hello@pivot.net</a></span>
                    <span class="text-white">+614 3827 492</span>
                    <span class="text-white">300 Collins St. Melbourne 3000</span>
                </div>
            </div><!--end for row-->
        </div><!--end of container-->

        <div class="contact-action bg-secondary-1">
            <div class="align-vertical">
                <i class="icon text-white icon_mail"></i>
                <a href="contact.html" class="text-white"><span class="text-white">Get in touch with us <i class="icon arrow_right"></i></span></a>
            </div>
        </div>
    </footer>
</div>
