{{> widget/tags }}
{{> widget/recent_post}}
<div class="sidebar-widget">
    <h5>Instagram</h5>
    <div class="instafeed" data-user-name="behance">
        <ul></ul>
    </div>
</div>
<div class="sidebar-widget">
    <h5>Twitter</h5>
    <div id="tweets" data-widget-id="492085717044981760">

    </div>
</div>
