/*.fa-twitter {
    background: #00a0d1;
}
.fa-facebook {
    background: #3b5998;
}
.fa-google-plus {
    background: #c63d2d;
}
.fa-whatsapp{
    background: #34AF23;
}*/

.sidebar-widget .shared li {
  display: inline-block;
}

.title_index {
    color: #fff; font-family: 'Righteous', cursive; font-size: 65pt; 
    font-weight: normal; line-height: 60px; margin: 10px 0 20px;
    text-transform: uppercase; text-shadow: 2px 2px 0 #000,
    margin: 10px 0 24px; text-align: center;
}
